<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SqlTestConn" connectionString="Data Source=localhost;Initial Catalog=xxx;User ID=xxx;Password=xxx;TrustServerCertificate=true;Connection Timeout=5;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="false" targetFramework="4.7.2" />
  </system.web>
</configuration>
